/* PageTemplate.css */

body {
  margin: 0;
  background-color: #16122b; /* Dark blackish-purple background */
  color: white; /* White text color */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent body scrolling */
}

.content {
  margin: 0 auto; /* Center the article */
  padding-top: 5%; /* Add some padding around the content */
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 0%;
  height: calc(100vh); /* Full height */
  overflow-y: auto; /* Allow vertical scrolling */
  box-sizing: border-box; /* Include padding in height calculation */
  position: relative; /* Set position relative to allow absolute positioning of scroll bar */
}

/* Ensure the scrollbar is styled appropriately */
.content::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.content::-webkit-scrollbar-thumb {
  background: #444; /* Dark scrollbar thumb */
  border-radius: 6px; /* Rounded edges for scrollbar thumb */
}

.content::-webkit-scrollbar-track {
  background: #2d2a40; /* Background for the scrollbar track */
}

h1, h2, h3 {
  color: #ffffff; /* White color for headings */
  margin-top: 0; /* Remove top margin from headings */
}

p, ol, ul {
  line-height: 1.6; /* Increase line height for better readability */
}

img {
  max-width: 100%;  /* Ensure the image scales down */
  height: auto;     /* Maintain aspect ratio */
  display: block;   /* Remove potential extra space */
  margin: 0 auto;   /* Center the image horizontally */
  border-radius: 5px; /* Add some rounded corners */
}

button.home {
  display: flex;
  align-items: center; /* Vertically center the image and text */
  background: none;
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

button.home:hover {
  font-weight: bold;
}

hr.solid {
  border-top: 1px solid #bbb;
}

header {
  position: sticky;
  top: 0;
  padding: 5px 20px;
  background: black;
  color: white;
}

.footer {
  margin-top: 40px; /* Add margin above footer */
  text-align: center; /* Center footer text */
  font-size: 0.9em; /* Smaller font size for footer */
  color: #b0b0b0; /* Slightly lighter gray for footer text */
}
