/* PageTemplate.css */

body {
  margin: 0;
  background-color: #16122b; /* Dark blackish-purple background */
  color: white; /* White text color */
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Ensure body content flows vertically */
  overflow: hidden; /* Prevent body scrolling */
}

.page-template {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height for the entire page */
  overflow: hidden;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Make header span the full width */
  padding: 5px 20px;
  background: black;
  color: white;
  z-index: 100; /* Ensure the header stays above content */
}

main {
  flex: 1; /* Let the main content take up remaining space */
  overflow-y: auto; /* Allow the main content to scroll */
  margin-top: 60px; /* Push content down so it's not hidden by the header */
  position: relative; /* To ensure scrollbar stays visible */
}

.content {
  margin: 0 auto; /* Center the article */
  padding-top: 5%;
  padding-left: 20%; /* Padding around the content */
  padding-right: 20%; /* Padding around the content */
  box-sizing: border-box; /* Include padding in height calculation */
}

/* Custom scrollbar styling */
main::-webkit-scrollbar {
  width: 12px;
}

main::-webkit-scrollbar-thumb {
  background: #444; /* Dark scrollbar thumb */
  border-radius: 6px; /* Rounded edges for scrollbar thumb */
}

main::-webkit-scrollbar-track {
  background: #2d2a40; /* Background for the scrollbar track */
}

h1, h2, h3 {
  color: #ffffff; /* White color for headings */
  margin-top: 0; /* Remove top margin from headings */
}

p, ol, ul {
  line-height: 1.6; /* Increase line height for better readability */
}

a {
  color: #db13bd;
}

img {
  max-width: 100%;  /* Ensure the image scales down */
  height: auto;     /* Maintain aspect ratio */
  display: block;   /* Remove potential extra space */
  margin: 0 auto;   /* Center the image horizontally */
  border-radius: 5px; /* Add some rounded corners */
}

button.home {
  display: flex;
  align-items: center; /* Vertically center the image and text */
  background: none;
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

button.home:hover {
  font-weight: bold;
}

hr.solid {
  border-top: 1px solid #bbb;
}

.footer {
  padding: 20px;
  background: #111;
  color: #b0b0b0;
  text-align: center;
}
